:root {
    --borderRadius: 12px;
    --borderWidth: 1.5px;
    --shadowBox: 6px 57px 23px rgb(26 113 255 / 4%),
        3px 32px 20px rgb(26 113 255 / 13%),
        2px 14px 14px rgb(26 113 255 / 21%),
        0px 4px 8px rgb(26 113 255 / 25%),
        0px 0px 0px rgb(26 113 255 / 25%);
}

.wrapper {
    width: 200px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--borderWidth) solid #333;
    border-radius: var(--borderRadius);

    box-shadow: var(--shadowBox);
}

.wrapper a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    border-radius: inherit;

    position: relative;
    transition: all .35s;
}

.wrapper a span {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0047FF;
    transition: all .35s;
    border-radius: calc(var(--borderRadius) - 2 * var(--borderWidth));
    z-index: -2;
}

.wrapper a:hover {
    color: #fff;
}

.wrapper a:hover:after {
    width: 100%;
}

/*Course buttons*/


.btn-21 {
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    height: 100%;
    color: #bbb;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    border-radius: var(--borderRadius);
    background: transparent;
    overflow: hidden;
    border: none;
    box-shadow: var(--shadowBox);
}

.btn-21 span {
    width: max-content;
    height: 100%;
    display: inline-flex;
    align-items: center;
    text-align: start;
}


.course>div:hover,
.btn-21:hover {
    color: #461701;
    box-shadow: inset var(--shadowBox);
}

/* 
.btn-21:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2.5px;
    background: linear-gradient(to left, transparent, #bbb);
    border-radius: 0px;
    animation: btn-21-left 2s linear infinite;
    transition: 0.5s ease-in-out;
    rotate: 0deg;
}

.btn-21:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2.5px;
    height: 100%;
    background: linear-gradient(to top, transparent, #bbb);
    animation: btn-21-top 2s linear infinite;
    animation-delay: 1s;
    transform: translateY(-100%);
}

.btn-21 span:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: linear-gradient(to right, transparent, #bbb);
    animation: btn-21-right 2s linear infinite;
}

.btn-21 span:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2.5px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #bbb);
    animation: btn-21-bottom 2s linear infinite;
    animation-delay: 1s;
    transform: translateY(-100%)
}

.btn-21:hover:before {
    background: linear-gradient(to left, transparent, #461701);
}

.btn-21:hover:after {
    background: linear-gradient(to top, transparent, #461701);
}

.btn-21 span:hover:before {
    background: linear-gradient(to bottom, transparent, #461701);
}

.btn-21 span:hover:after {
    background: linear-gradient(to right, transparent, #461701);
}

@keyframes btn-21-top {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes btn-21-left {
    0% {

        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }

}

@keyframes btn-21-bottom {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes btn-21-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
} */