#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    background-color: var(--colorDarkBlue);
}

.burger span {
    background-color: #ffffff;
}

#main h3 {

    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.03em;
}

#main .container {
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

#main .container h3 {

    color: #FFF;
}

#main~#contact-map {
    margin: 50px auto;
    position: relative;
}

.map-background {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: var(--colorDarkBlue);
    z-index: -1;
    top: -50px;
}

#contact-map .container {
    margin: 0px auto;
}


.contact {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-info h4 {


    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFF;
}

.contact-info p {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFF;
}

.contact-info a {
    text-decoration: none;
    color: #052A44;
    color: #FFF;
}

.personnel-info {
    margin: 50px auto 75px;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.personnel-info>p {
    text-align: center;
}

.personnel-info>a {

    text-decoration: none;
    color: #052A44;
}

/*Pesonnel*/
#personnel-info {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 900px;
}

.personnel-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;

}

.personnel-block h3 {
    font-size: 36px;
    margin-bottom: 50px;
}

.personnel-block-about {
    width: 100%;
    height: 100px;
    transition: height 0.5s linear;
    overflow-y: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
    padding-right: 40px;
}

.personnel-default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;

}

.personnel-default h4 {}

.personnel-default>img {
    filter: invert();
}

.personnel-detailed {
    width: 100%;
    padding-bottom: 40px;
}

.personnel-detailed>p {
    margin-top: 40px;
    margin-bottom: 10px;
}

.personnel-detailed>p:first-of-type {
    margin-top: 0px;
}

.personnel-block img {
    width: 32px;
    height: 32px;
}

.personnel-document {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 10px;
}

.personnel-document:hover {

    background: #e9e9e9;
}